

.head-container p{
    font-size: x-large;
    padding: 10px;
    margin: 10px;
    text-align: center;
    text-transform: capitalize;
}


form{
    padding: 5px;
    margin-left: 5px;
}

.single-input{
    padding: 5px;
    margin-left: 10px;
}

.myButton{
    
    margin-left: 15px;
    padding-left: 5px;
    padding-top: 10px;
}