
<mat-toolbar color="primary" class="navbar" 
fxLayout="row wrap"
>
   <div class="container" fxLayout="row wrap">

    <div class="mekdiz">Mekdiz</div>
    <div class="buttons">
        <button mat-raised-button color="accent"
        routerLink="students"
        >Students</button>
        <button mat-raised-button color="accent"
        routerLink="user-form"
        >Input Form</button>

        <button mat-raised-button color="accent"  routerLink="custom-validation" >Custom Validation</button>
    </div>



   </div>
    
</mat-toolbar>
<router-outlet></router-outlet>
